﻿@model SendSmsReportViewModel
@{
    ViewData["Title"] = "Home Page";
}
<form accept-charset="UTF-8" action="/Home/SendSMS" method="post" id="smsForm">
    <div class="container">
        <div>
            <br style="clear:both">
            <div class="form-group col-md-4 ">
                <label id="messageLabel" for="message">Message </label>
                <textarea class="form-control input-sm " type="textarea" id="smsBody" name="smsBody" placeholder="Message" maxlength="160" rows="5"></textarea>
                <span class="help-block"><span id="characterLeft" class="help-block ">You have reached the limit</span></span>
            </div>
            <br style="clear:both">
            <div class="form-group col-md-2">
                <button class="form-control input-sm btn btn-success" id="btnSubmit" type="submit" style="height:35px"> Send</button>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div>
        <br style="clear:both">
        <div class="form-group col-md-4 ">
            <h6>
                @if (Model.serviceSentSmsLogList != null)
                {
                    @foreach (var item in Model.serviceSentSmsLogList)
                    {
                        @Html.Raw(item.Msisdn + " " + item.SentTime + " " + ((bool)item.ServiceLog.IsSuccessful ? "sent" : "failed"));
                        @Html.Raw("</br>");
                    }
                }
            </h6>
        </div>
    </div>
</div>